examples/03 - IP Security Lookup.json
[
  {
    "id": "ipgeo_ex_security",
    "type": "tab",
    "label": "IPGeo: IP Security",
    "disabled": false,
    "info": "Threat intelligence for a single IP (proxy / VPN / TOR / bot / threat score). Requires a plan that includes the Security API. Domains are not accepted by this endpoint."
  },
  {
    "id": "cmt",
    "type": "comment",
    "z": "ipgeo_ex_security",
    "name": "\u2500\u2500 IPGeo: IP Security \u2500\u2500",
    "info": "Set up: after importing, open the **IPGeolocation API** config node and paste your API key.\n\nThreat intelligence for a single IP (proxy / VPN / TOR / bot / threat score). Requires a plan that includes the Security API. Domains are not accepted by this endpoint.",
    "x": 180,
    "y": 40
  },
  {
    "id": "trig",
    "type": "inject",
    "z": "ipgeo_ex_security",
    "name": "Check 1.0.0.1",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "ipgeo_node"
      ]
    ]
  },
  {
    "type": "ipgeo-security",
    "name": "IP Security",
    "ipType": "str",
    "ipValue": "1.0.0.1",
    "fields": "",
    "excludes": "",
    "outputProp": "payload",
    "outputType": "msg",
    "twoOutputs": true,
    "z": "ipgeo_ex_security",
    "server": "ipgeo_cfg",
    "x": 410,
    "y": 120,
    "wires": [
      [
        "dbg_ok"
      ],
      [
        "dbg_err"
      ]
    ],
    "id": "ipgeo_node"
  },
  {
    "id": "dbg_ok",
    "type": "debug",
    "z": "ipgeo_ex_security",
    "name": "Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 640,
    "y": 100,
    "wires": []
  },
  {
    "id": "dbg_err",
    "type": "debug",
    "z": "ipgeo_ex_security",
    "name": "Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "x": 640,
    "y": 160,
    "wires": []
  },
  {
    "id": "ipgeo_cfg",
    "type": "ipgeo-config",
    "z": "ipgeo_ex_security",
    "name": "IPGeolocation API"
  }
]
